input::placeholder {
    color: black;
}

input {
    color: black;
    margin: 5px;
}

h3,
h6 {
    text-align: center;
}

button {
    margin: 10px;
    width: 175px;
}
#insertar{
    margin-right: 10px;
}
#huespedesbotonesinsertar{
    margin-left: 100px;
    margin-top: 35px;
}

