h2 {
    font-size: 2rem;
    text-align: center;
}

input {
    margin: 5px;
    font-size: small;
}

.formularioFactura {
    margin: 5px;
}

.formularioFactura>input {
    text-align: center;
}

.formularioRecibo {
    display: flex;
    gap: 5px;
}

.formularioRecibo>input {
    text-align: center;
}

.itemsFactura {
    display: flex;
    gap: 5px;
}