button {
    margin: 5px;
}

.customModal {
    max-width: 700px !important;
    /* Establece el ancho máximo del modal */
}

.bodyEliminar>p>b {
    color: red;
}

.checkIn {
    max-width: 900px !important;
}

.cajasCheckIn {
    margin-right: 20px;
}

.cajasCheckIn>input {
    width: 170px;
}

.button {
    margin-right: 10px;
}